@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.mainConent{
    margin: -20px 0px 0px 0px;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background-image: url('./dog_landing.jpg');
}

.content{
    padding-top: 200px;
    padding-left: 150px;
    display: grid;
    border: 0px solid white;
    color: white;
    font-family: 'Righteous', cursive;
    width: 500px;
    height: 350px;
}

.content h1{
    font-size: 4rem;
    margin-bottom: 15px;
}

.text{
    font-size: 2rem;
    margin-bottom: 25px;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 20px 15px;
    border-radius: 10px;
    cursor:pointer;
}

.develop{
    font-family: 'Special Elite', cursive;
    font-size: 1.1rem;
    margin-top: 25px;
}