.navfiltercontent{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0;
    border: 0px solid black;
}

.navfilGroup{
    margin: 10px;
}
.navfilTitle{
    border: 1px solid white;
}

.navfilGroup select {
    height: 35px;
    background-color:#e5e77b;
    border: 1px solid white;
    border-radius: 10px;
}