@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://css.gg/search.css');

.navSearch{
    color: white;
    margin-top: -20px;
    height: 60px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appTitle{
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.imputSearch {
    width: 250px;
    height: 28px;
    padding: 10px;
    border-radius: 10px;
}

.buttonSearch{
    margin-left: 4px;
    padding-left: 10px;
    background-color: #4CAF50;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    width: 100px;
    height: 28px;
    cursor:pointer;
}

.navSearchHome{
    margin-left: 5px;
    background-color:tan;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    cursor:pointer;
}

.navSearchCreate{
    margin-left: 5px;
    background-color:steelblue;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    cursor:pointer;
}