.cardContent {
	border-radius: 20px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
}
.cardContent img {
	border-radius: 0px;
	width: 350px;
	height: 260px;
}

.cardTextContent {
	background-color:ghostwhite;
    opacity: 0.7;
    width: 350px;;
}

.cardText{
    text-align: left;
}

.detailTitle{
    display: inline-block;
    width: 110px;
    background-color:green;
}

.detailInfo{
    display: inline;
    width: 100px;
    background-color: hotpink;
}
